/* Import CSS variables first - must be before Tailwind */
@import './variables.css';
@import './base.css';
@import './animations.css';
@import './utilities.css';
@import './components.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

